<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corporation8793.itsofresh">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.corporation8793.itsofresh.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealKit"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.corporation8793.itsofresh.activity.AccessTermsActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.payment.WebPaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.NetworkCheckActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.corporation8793.itsofresh.activity.UserEditActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.UserEditPwActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.AddreesWebActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.payment.CompleteOrdersActivity"
            android:exported="true" />
        <activity
            android:name="com.corporation8793.itsofresh.payment.SelectProductActivity"
            android:exported="true" />
        <activity
            android:name="com.corporation8793.itsofresh.payment.PayMentActivity"
            android:exported="true" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.FindActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.corporation8793.itsofresh.activity.ChangePwActivity" />
        <activity android:name="com.corporation8793.itsofresh.fragment.my.PurchaseDetailsActivity" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.PointActivity"
            android:exported="false" />
        <activity
            android:name="com.corporation8793.itsofresh.payment.SelectStoreActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.JoinActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.WriteRecipeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.corporation8793.itsofresh.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.corporation8793.itsofresh.activity.UserInfoActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="9l8w6ft1l8" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="9l8w6ft1l8" />

        <receiver
            android:name="com.corporation8793.itsofresh.receiver.ResetPedometer"
            android:exported="false" />
        <receiver
            android:name="com.corporation8793.itsofresh.receiver.RebootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.corporation8793.itsofresh.receiver.ShutdownReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.corporation8793.itsofresh.service.PedometerService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>